.page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background-top,
.background-center,
.background-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.background-top,
.background-bottom {
  background-color: rgb(1, 1, 138);
}

.background-center {
  background-color: white;
}

.yellow-circle{
    
}
